// font family
$ff-poppins:'Poppins', sans-serif;

// font sizes
$category-font:16px;
$link-font:14px;
$product-font:14px;
$link-font_sm:12px;

// font weight
$fw-link:400;
$fw-category:500;

// line-height
$lh-category:20px;
$lh-link:24px;
$lh-tit-product:24px;
$lh-link_sm:16px;
$lh-price:18px;
// colors

$main_txt-col:#3E3E3E;
$foot-txt-col:#292929;
$light_txt-col:#9A9A9A;
$link-hov_txt-col:#EB8426;
$cat_txt-col:#FFF;

$bg-main:#FFF;
$bg-header: #FFF9F3;
$bg-btn_grey:#F5F6F8;
$bg-grey:#F5F6F8;
$bg-bunner:#F5F6F8;
$bg-btn_orange:#EB6D20;
$bg-btn-hov_orange:#e7620f;
$bord-col-tabs:#E9E9E9;
$mint_bg-card:#D3FBD9;
$peach_bg-card:#FFE4BD;
$violet_bg-card:#D9ABFD;
$send_bg-card:#FDF0AB;
$blue_bg-card:#C0ABFD;
$pink_bg-card:#FFBDBD;
$beige_bg-card:#FBF7D3;


// product colors
$bg-col1:#7CB93E;
$bg-col2:#33ABC6;
$bg-col3:#1CCD8D;
$bg-col4:#3F65EA;
$bg-col5:#F64A69;
$bg-col6:#A635EC;
$bg-col7:#F9A85D;

// margin
$mar-main:300px;
$mar-main_tab:24px;
$mar-main_smar:16px;